* {
  font-family: "Comic Neue", cursive;
  color: #e6e6ff;
}
body {
  background-image: url(https://images.unsplash.com/photo-1514996937319-344454492b37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Comic Neue", cursive;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: auto;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.85),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  width: 100%;
  background-color: transparent;
  overflow: hidden;
}
.navbar a:hover {
  background-color: transparent;
}

.navbar a {
  float: right;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar img:hover {
  background-color: rgba(58, 58, 158, 0.8);
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  margin: 0;
}
#dev {
  float: left;
}

#main {
  text-align: center;
  margin-top: 15%;
  background-size: cover;
  background-position: center;

  /* on phone screen padding top and bottom 0, left and right 20px */
  padding: 0 20px;
}
input[type="email"] {
  font-size: 1.5rem;
  padding: 10px;
  background: transparent;

  outline: none;
  border: none;
  border-bottom: 2px solid rgba(58, 58, 158, 0.99);
}
input[type="submit"] {
  background: transparent;
  font-size: 1.5rem;
  padding: 10px;
  outline: none;
  border: 2px solid white;
  margin-top: 12px;
  cursor: pointer;
  font-weight: 500;
}
#btn {
  background: transparent;
  font-size: 1.5rem;
  padding: 10px;
  outline: none;
  border: 2px solid white;
  margin-top: 12px;
  cursor: pointer;
  font-weight: 500;
}
::placeholder {
  color: #e6e6ff;
  opacity: 0.999;
  text-align: center;
}
